<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title/>
    </head>
    <body>
        <div role="navigation" class="navbar navbar-default nav-animate">
            <div class="container">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"/>
                    </button>
                    <a href="index.html" class="navbar-brand">
                        <img src="../resources/images/wsc-icon.png" class="logo"/>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--About dropdown-->
                        <li class="dropdown">
                            <a href="about.html" class="dropdown-toggle" data-toggle="dropdown">About
                                <span class="caret"/>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#publication" data-toggle="collapse" data-target=".navbar-collapse">Publications</a>
                                </li>
                                <li>
                                    <a href="#activities">Activities</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Model
                                <span class="caret"/>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#subscriptions" data-toggle="collapse" data-target=".navbar-collapse">Data Dictionary</a>
                                </li>
                                <li>
                                    <a href="#subscriptions" data-toggle="collapse" data-target=".navbar-collapse">Contributing</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="nav navbar-nav navbar-right hidden-sm">
                        <a href="https://github.com/exc-asia-and-europe/wsc" title="Github" data-toggle="collapse" data-target=".navbar-collapse">
                            <img src="../resources/images/GitHub-Mark-Light-32px.png"/>
                        </a>
                        <a href="https://heidata.uni-heidelberg.de/dvn/" title="heiData" data-toggle="collapse" data-target=".navbar-collapse">
                            <img src="../resources/images/logo_dataverse.png"/>
                        </a>
                        <a href="http://www.asia-europe.uni-heidelberg.de/en/" title="Cluster" data-toggle="collapse" data-target=".navbar-collapse">
                            <img src="../resources/images/cluster-32px.gif"/>
                        </a>
                        <a href="mailto:info@existsolutions.com" title="Mail" data-toggle="collapse" data-target=".navbar-collapse">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"/>
                            </button>
                        </a>
                    </div>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container -->
        </div>
        <div class="nav navbar-nav navbar-right hidden-xs hidden-md hidden-lg">
            <a href="https://github.com/exc-asia-and-europe/wsc" title="Github" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="../resources/images/GitHub-Mark-Light-32px.png"/>
            </a>
            <a href="https://heidata.uni-heidelberg.de/dvn/" title="heiData" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="../resources/images/logo_dataverse.png"/>
            </a>
            <a href="http://www.asia-europe.uni-heidelberg.de/en/" title="Cluster" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="../resources/images/cluster-32px.gif"/>
            </a>
            <a href="mailto:info@existsolutions.com" title="Mail" data-toggle="collapse" data-target=".navbar-collapse">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"/>
                </button>
            </a>
        </div>
    </body>
</html>